<template>
  <div class="form">
    <form v-bind="$attrs" @submit.prevent="form.submit">
      <slot name="header"/>
      <div class="fields">
        <slot name="fields"/>
      </div>
      <btn v-if="form.btnKey" class="form__btn" type="submit" :name="$t(form.btnKey)" :is-loading="form.request"/>
      <slot name="footer"/>
    </form>
  </div>
</template>
<script>
import Btn from "~components/ui/Button";

export default {
  components: {Btn},
  inheritAttrs: false,
  props: {
    form: {
      type: Object,
      required: true
    },
  },
}
</script>
