<template>
  <div class="multiform">
    <slot name="header"/>
    <div class="forms">
      <div v-for="(form, index) in multiform.forms" :key="index" class="form-container">
        <component :is="multiform.formComponent" :form-index="index" :name="multiform.name" :form="form"/>
        <button class="remove-form" @click="multiform.removeForm(index)">{{ $t('main.remove') }}</button>
      </div>
    </div>
    <div class="multiform__btns">
      <button class="add-form" @click="multiform.addForm">{{ $t('main.add') }}</button>
      <btn class="multiform__request btn_big"
           type="submit"
           :name="$t('main.send')"
           :is-loading="multiform.request"
           size="2"
           @click.native="multiform.submit"/>
    </div>
  </div>
</template>

<script>
import Btn from "~components/ui/Button";

export default {
  components: {Btn},
  props: {
    multiform: {
      type: Object,
      required: true
    },
  },
}
</script>
