<template>
  <header class="header">
    <div class="container">
      <div class="header-content">
        <div class="header__left">
          <nuxt-link :to="localePath('index')" exact>{{ $t('main.home') }}</nuxt-link>
          <template v-if="$auth.loggedIn">
            <delimiter/>
            <nuxt-link :to="localePath('books')" exact>{{ $t('pages.books.books') }}</nuxt-link>
          </template>
        </div>
        <div class="header__right">
          <template v-if="$auth.loggedIn">
            {{ $auth.user.name }}
            <delimiter/>
            <span class="logout link" @click="logout">{{ $t('main.logout') }}</span>
          </template>
          <nuxt-link v-else :to="localePath('login')">{{ $t('main.login') }}</nuxt-link>
          <div class="delimiter">|</div>
          <delimiter/>
          <language/>
        </div>
      </div>
    </div>
  </header>
</template>
<script>
import Language from "~components/ui/Language";
import Delimiter from "~components/ui/Delimiter";

export default {
  components: {Language, Delimiter},
  methods: {
    logout() {
      // если использовать в темплейте, то будет ошибка
      this.$auth.logout();
    },
  },
}
</script>
<style lang="scss">
.header {
  background: $colorGreyDark;

  .logout {
    cursor: pointer;
  }

  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__right, &__left {
    display: flex;
  }

  .delimiter {
    margin: 0px 10px;
  }
}
</style>
