<template>
  <div class="field-container">
    <div :class="fieldClasses">
      <icon v-if="field.icon" :name="field.icon"/>
      <label v-if="label">{{ label }}</label>
      <slot/>
    </div>
    <div v-if="haveErrors" class="field__errors">
      <div v-for="(options, name) in errors" :key="name" class="field__error">{{ errorTranslate(name, options) }}</div>
    </div>
  </div>
</template>

<script>
import {fieldStatuses} from "~utils/field/field";
import Icon from "~components/ui/Icon";

export default {
  components: {Icon},
  props: {
    field: {
      type: Object,
      required: true,
    },
  },
  computed: {
    label() {
      return this.field.label ? this.$t(this.field.label) : '';
    },
    errors() {
      return {...this.field.errorsBackend, ...this.field.errorsFrontend}
    },
    haveErrors() {
      return Object.keys(this.errors).length > 0;
    },
    haveFrontendErrors() {
      return Object.keys(this.field.errorsFrontend).length > 0;
    },
    fieldClasses() {
      return [
        'field',
        {'field_errors': this.field.status === fieldStatuses.FIELD_STATUS_ERROR},
        {'field_success': this.field.status === fieldStatuses.FIELD_STATUS_SUCCESS},
        {'field_icon': Boolean(this.field.icon)},
      ];
    },
  },
  methods: {
    errorTranslate(key, options) {
      if (Object.keys(options).length > 0) return this.$t(key, options);
      return this.$t(key);
    },
  },
}
</script>
