<template>
  <field-container :field="field">
    <textarea v-bind="$attrs" :value="field.value" :placeholder="placeholder" @input="onInput"/>
  </field-container>
</template>

<script>
import {field} from "~mixins/field";

export default {
  mixins: [field],
}
</script>
