<template>
  <button :class="btnClasses">
    <div class="name">
      {{ name }}
    </div>
    <div v-if="isLoading" :class="iconClasses">
      <loader-dual-ring/>
    </div>
  </button>
</template>

<script>
import LoaderDualRing from "~components/ui/loaders/LoaderDualRing";

export default {
  components: {LoaderDualRing},
  props: {
    name: {
      type: String,
      required: true
    },
    isLoading: {
      type: Boolean,
      required: true
    },
    size: {
      type: [String, Number],
      default: 1
    },
  },
  computed: {
    btnClasses() {
      return [
        'btn-with-loader',
        {'btn-with-loader_loading': this.isLoading},
      ];
    },
    iconClasses() {
      const classes = ['icon'];
      classes.push('icon-size_' + this.size);
      return classes;
    }
  }
}
</script>
<style lang="scss">
@mixin loader-size($index, $size) {
  &_#{$index} {
    .loader {
      width: #{$size}px;
      height: #{$size}px;

      &:after {
        width: #{$size}px;
        height: #{$size}px;
      }
    }
  }
}

.btn-with-loader {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .name {
    opacity: 1;
  }

  .icon {
    position: absolute;
    display: flex;
  }

  &_loading {
    .name {
      opacity: 0;
    }
  }

  .icon-size {
    @include loader-size(1, 14);
    @include loader-size(2, 20);
  }
}
</style>
