<template>
  <component :is="svg"/>
</template>

<script>
export default {
  props: {
    name: {
      type: String,
      required: true
    },
  },
  computed: {
    svg() {
      return this.name ? () => import(`~svg/${this.name}.svg?inline`) : '';
    }
  }
}
</script>
