button {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

input {
  outline: none;
  border-radius: 10px;
  border: 1px $colorGreyDark solid;
  padding: 5px 10px;
  width: 100%;

  &[type=text],
  &[type=password] {
    box-sizing: border-box;
  }
}

textarea {
  width: 100%;
  min-height: 200px;
}

button {
  border: none;
  background: $colorYellow;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
}

.btn {
  &_big {
    font-size: 20px;
    font-weight: bold;
  }
}

.form {
  background: $colorGreyLight;
  max-width: 100%;
  padding: 10px;
  border-radius: 10px;

  &__btn {
    margin-top: 15px;
  }

  &_align_center {
    margin: 0 auto;
  }
}

.field {
  position: relative;

  &-container {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0px;
    }
  }

  input {
    border: 1px $colorGreyDark solid;
  }

  &_icon {
    input {
      padding-left: 29px;
    }
  }

  svg {
    width: 12px;
    height: 12px;
    position: absolute;
    left: 8px;
    bottom: 8px;
  }

  &_errors {
    input {
      border-color: $colorRed;
    }
  }

  &_success {
    input {
      border-color: $colorGreen;
    }
  }

  &__errors {
    margin-top: 5px;
  }

  &__error {
    color: $colorRed;
    margin-bottom: 3px;

    &:last-child {
      margin-bottom: 0px;
    }
  }
}

.multiform {
  border: 1px solid $colorGreyDark;
  padding: 15px;
  border-radius: 10px;

  .form-container {
    border: 1px solid $colorGreyDark;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0px;
    }
  }

  &__btns {
    margin-top: 10px;
  }

  .remove-form {
    margin-top: 15px;
  }

  &__request {
    display: block;
    margin-top: 20px;
  }
}
