@font-face {
  font-family: 'PTSans';
  font-style: normal;
  src: url('~fonts/PTSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'PTSans';
  font-style: italic;
  src: url('~fonts/PTSans-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'PTSans';
  font-weight: bold;
  src: url('~fonts/PTSans-Bold.ttf') format('truetype');
}

* {
  font-family: 'PTSans', sans-serif;
  color: $colorBlack;
}

html {
  height: 100%;
  background: $colorGrey;
}

a, .link {
  text-decoration: none;
  color: $colorRed2;
}

.nuxt-link-active {
  color: $colorRed3;
}

body {
  min-height: 100%;
  margin: 0px
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 1024px;
  padding: 10px;
  margin: 0 auto;
  border-radius: 10px;
  flex: auto;

  &_white {
    background: $colorWhite;
  }
}

.title {
  font-size: 20px;
  margin-bottom: 15px;
}

.bold {
  font-weight: bold;
}


@for $i from 1 through 20 {
  .mv-#{$i} {
    margin-top: $i*5px;
    margin-bottom: $i*5px;
  }
  .mb-#{$i} {
    margin-bottom: $i*5px;
  }
  .mt-#{$i} {
    margin-top: $i*5px;
  }
}
