$colorYellow: rgb(222, 217, 5);
$colorGrey: rgba(238, 238, 238, 0.51);
$colorGreyLight: rgba(248, 248, 248, 0.75);
$colorWhite: rgba(255, 255, 255, 0.91);
$colorGreyDark: rgba(153, 153, 153, 0.51);
$colorGreyDark2: rgba(7, 7, 7, 0.51);
$colorBlack: black;
$colorRed: rgba(250, 17, 17, 0.51);
$colorRed2: #c70202;
$colorRed3: #ff0000;
$colorGreen: rgb(90, 206, 16);
$colorGreen: rgb(215, 192, 36);
