<template>
  <div v-if="book">
    <div class="title">{{ title }}</div>
    <div v-html="text"/>
  </div>
</template>

<script>
export default {
  name: 'Book',
  layout: 'books',
  async asyncData({params, $axios}) {
    let book = null;
    await $axios.$get(`api/books/${params.genre}/${params.book}`).then((data) => {
      book = data.book;
    });
    return {book}
  },
  head() {
    return {
      title: this.title,
    }
  },
  computed: {
    locale() {
      return this.$i18n.locale;
    },
    title() {
      return this.book ? this.book.title[this.locale] : '';
    },
    text() {
      return this.book ? this.book.text[this.locale] : '';
    },
  }
}
</script>
