<template>
  <div>
    <text-evaluation-form id="text-evaluation-login" class="text-evaluation-form" :form="formText">
      <template #fields>
        <field-textarea id="text" :field="formText.fields.text"/>
      </template>
    </text-evaluation-form>
    <div v-if="grade > 0" class="mt-3 bold">{{ $t('pages.books.text_grade', {grade}) }}</div>
  </div>
</template>

<script>
import {createNamespacedHelpers} from 'vuex';
import {form} from "~mixins/form";
import TextEvaluationForm from "~components/ui/form/Form";
import FieldTextarea from "~components/ui/form/fields/FieldTextarea";
import {fieldCreate} from "~utils/field/field";
import {mutations, getters} from "~constants-store/text-evaluation";

const {mapMutations} = createNamespacedHelpers('textEvaluation');

export default {
  components: {
    TextEvaluationForm,
    FieldTextarea,
  },
  mixins: [form],
  data() {
    return {
      formText: this.formCreate(
        {
          submit: this.submit,
          btnKey: 'main.send',
          fields: {
            text: fieldCreate({
              value: '',
              onInput: this.onInputText,
            }),
          },
        }
      ),
    }
  },
  computed: {
    grade() {
      return this.$store.state.textEvaluation[getters.GRADE];
    }
  },
  mounted() {
    this.formText.fields.text.value = this.$store.state.textEvaluation[getters.TEXT];
  },
  methods: {
    ...mapMutations([mutations.INPUT_TEXT, mutations.CHANGE_GRADE]),
    async submit() {
      await this.formRequest(
        this.formText,
        (data) => this.$axios.$post('/api/books/to-get-mark', data).then(({grade}) => {
          this[mutations.CHANGE_GRADE](grade);
          this.$toast.success(this.$t('main.done'));
        })
      );
    },
    onInputText(value) {
      this[mutations.INPUT_TEXT](value);
      this.formText.fields.text.value = value;
    }
  }
}
</script>
