<template>
  <div>
    <div class="mb-10">
      <div>{{ $t('pages.books.text') }}</div>
      <div v-for="link in links" :key="link.name">
        <nuxt-link :to="link.url">{{ $t(link.name) }}</nuxt-link>
      </div>
    </div>
    <slot/>
  </div>
</template>

<script>
export default {
  data() {
    return {
      links: [
        this.createLinkByRoute('pages.books.links.link1', 'books-genre-book', {genre: 'comedy', book: 'big-funny'}),
        this.createLinkByRoute('pages.books.links.link2', 'books-genre-book', {genre: 'drama', book: 'gamlet'}),
        this.createLinkByUrl('pages.books.links.link3', 'books-text-evaluation'),
      ],
    }
  },
  methods: {
    createLinkByRoute(name, routeName, params) {
      const link = this.createLink(name);
      link.url = this.localePath({
        name: routeName,
        params
      });
      return link;
    },
    createLinkByUrl(name, url) {
      const link = this.createLink(name);
      link.url = this.localePath(url);
      return link;
    },
    createLink(name) {
      return {name, url: ''};
    },
  },
}
</script>
