<template>
  <container-with-header>
    <Nuxt/>
  </container-with-header>
</template>

<script>
import ContainerWithHeader from "~/components/layouts/containers/ContainerWithHeader";

export default {
  components: {
    ContainerWithHeader
  }
}
</script>
