<template>
  <div class="page-error">
    <h1 v-if="error.statusCode === 404">{{ $t('request.errors.page_not_found') }}</h1>
  </div>
</template>

<script>
export default {
  layout: 'default',
  // eslint-disable-next-line vue/require-prop-types
  props: ['error']
}
</script>
