<template>
  <div class="app">
    <header-block/>
    <div class="container container_white mv-3">
      <slot/>
    </div>
  </div>
</template>

<script>
import HeaderBlock from "~/components/layouts/headers/Header";

export default {
  components: {
    HeaderBlock
  }
}
</script>
