<template>
  <div>
    <div class="mb-10">
      <i18n path="pages.index.help1" tag="p">
        <template #link>
          <nuxt-link :to="localePath('books')">{{ $t('pages.index.help1_link') }}</nuxt-link>
        </template>
      </i18n>
      {{ $t('pages.index.help2') }}
    </div>
    <friends-form/>
  </div>
</template>

<script>
import FriendsForm from "~components/friends/FriendsForm";

export default {
  name: 'Home',
  components: {FriendsForm},
}
</script>
