<template>
  <form-login/>
</template>

<script>
import FormLogin from "~components/auth/FormLogin";

export default {
  name: 'LoginPage',
  components: {
    FormLogin
  },
  middleware: 'auth',
  auth: 'guest'
}
</script>
