<template>
  <form-login id="form-login" class="form-login form_align_center" :form="formLogin">
    <template #header>
      <div class="title">{{ $t('main.authorization') }}</div>
    </template>
    <template #fields>
      <field-input id="name" type="text" :field="formLogin.fields.name"/>
      <field-input id="password" type="password" :field="formLogin.fields.password"/>
    </template>
    <template #footer>
      <div class="mt-2">{{ $t('pages.login.text') }}</div>
    </template>
  </form-login>
</template>

<script>
import {form} from "~mixins/form";
import FormLogin from "~components/ui/form/Form";
import FieldInput from "~components/ui/form/fields/FieldInput";
import {fieldValidatorRequired, fieldValidatorTextMin} from "~utils/field/validators";
import {fieldCreate, fieldValidate} from "~utils/field/field";

export default {
  components: {
    FormLogin,
    FieldInput,
  },
  mixins: [form],
  data() {
    return {
      formLogin: this.formCreate(
        {
          submit: this.submit,
          btnKey: 'main.login',
          fields: {
            name: fieldCreate({
              value: '',
              onInput: this.onInputName,
              validate: this.validateName,
              icon: 'user',
            }),
            password: fieldCreate({
              value: '',
              onInput: this.onInputPassword,
              validate: this.validatePassword,
              icon: 'password',
            }),
          },
        }
      ),
    }
  },
  methods: {
    async submit() {
      await this.formRequest(
        this.formLogin,
        (data) => this.$auth.loginWith('local', {data})
      );
    },

    onInputName(value) {
      this.formLogin.fields.name.value = value;
    },
    validateName(value) {
      this.formLogin.fields.name = fieldValidate(value, this.formLogin.fields.name, [
        fieldValidatorRequired(value),
        fieldValidatorTextMin(value, 3),
      ]);
    },

    onInputPassword(value) {
      this.formLogin.fields.password.value = value;
    },
    validatePassword(value) {
      this.formLogin.fields.password = fieldValidate(value, this.formLogin.fields.password, [
        fieldValidatorRequired(value),
        fieldValidatorTextMin(value, 6),
      ]);
    },
  }
}
</script>
<style lang="scss">
.form-login {
  width: 300px;
}
</style>
