<template>
  <div>
    <div class="mb-10">{{ $t('pages.books.text_evaluation') }}</div>
    <books-text-evaluation-form/>
  </div>
</template>

<script>
import BooksTextEvaluationForm from "~components/books/BooksTextEvaluationForm";

export default {
  name: 'TextEvaluation',
  components: {
    BooksTextEvaluationForm
  },
  layout: 'books',
}
</script>
