<template>
  <multiform :multiform="formFriends" class="form-friends">
    <template #header>
      <div class="title">{{ $t('main.friends') }}</div>
    </template>
  </multiform>
</template>

<script>
import {multiform} from "~mixins/form";
import FriendForm from "~components/friends/FriendForm";
import Multiform from "~components/ui/form/Multiform";
import {fieldValidatorRequired, fieldValidatorTextMin} from "~utils/field/validators";
import {fieldMultiformCreate, fieldValidate} from "~utils/field/field";

export default {
  components: {Multiform},
  mixins: [multiform],
  data() {
    return {
      formFriends: this.formCreate({
        submit: this.submit,
        forms: [],
        formComponent: FriendForm,
        name: 'friends',
        formTemplate: {
          fields: {
            name: fieldMultiformCreate({
              value: '',
              label: 'form.fields.labels.name',
              placeholder: 'form.fields.placeholders.name',
              onInput: this.onInputName,
              validate: this.validateName,
            }),
          },
        },
        addForm: this.addForm,
        removeForm: this.removeForm,
      }),
    }
  },
  methods: {
    async submit() {
      await this.multiformRequest(
        this.formFriends,
        (data) => this.$axios.post('/api/friends/create', {data})
      );
    },

    onInputName(value, index) {
      this.formFriends.forms[index].fields.name.value = value;
    },
    validateName(value, index) {
      this.formFriends.forms[index].fields.name = fieldValidate(value, this.formFriends.forms[index].fields.name, [
        fieldValidatorRequired(value),
        fieldValidatorTextMin(value, 3),
      ]);
    },

    addForm() {
      this.multiformAddForm(this.formFriends);
    },

    removeForm(index) {
      this.multiformRemoveForm(this.formFriends, index);
    },
  }
}
</script>
<style lang="scss">
.form-friends {

}
</style>
