<template>
  <form-user :id="idForm" class="form-friend form_align_center" :form="form">
    <template #fields>
      <field-input :id="idField('name')" type="text" :field="form.fields.name"/>
    </template>
  </form-user>
</template>

<script>
import {childForm} from "~mixins/form";
import FormUser from "~components/ui/form/Form";
import FieldInput from "~components/ui/form/fields/FieldInput";

export default {
  components: {FormUser, FieldInput},
  mixins: [childForm],
}
</script>
